[Desktop Entry]
Name=Quick-FreeRDP
Comment=Avalonia Quick-FreeRDP App
Exec=env bash -c 'cd "/home/mparry/.local/share/applications/My-Published-Apps" && ./Quick-FreeRDP'
Icon=/home/mparry/.local/share/applications/icons/QuickRes/QuickResolution.png
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=false
StartupWMClass=Quick-FreeRDP
