[Desktop Entry]
Name=Quick-FreeRDP
Comment=Avalonia Quick-FreeRDP App
Exec=Quick-FreeRDP
Icon=com.example.QuickFreeRDP
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=false
StartupWMClass=Quick-FreeRDP
